*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000;
    color: #FFFFFF;
}

.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 90px;

    background: #000;
    color: #FFFFFF;
    width: 390px;
    height: auto;
}

.headerPhone{
    position: fixed; 
    top: 11px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 13px 10px 3px 10px;
    background: #05060D;
    color: #FFFFFF;
    width: 389px;
    font-size: 12;

    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    align-content:center ;
    z-index: 1;
}
.headerPhoneRight{
    width: 70px;
    display: flex;
    flex-direction:row;
    align-items:center;
    align-content:center ;
    justify-content:space-between;
}
.underPhone{
    position: fixed; 
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 390px;
    height: 15px;
    display: flex;
    align-items:center;
    align-content:center ;
    justify-content:space-around;
}
.underPhoneLine{
    background-color: #ffffff;
    width: 50%;
    height: 3px;
    border-radius: 10px;
}

.underNav{
    display: flex;
    flex-direction:row;
    align-items:center;
    align-content:center ;
    justify-content:space-evenly;

    position: fixed; 
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -55px;
    width: 390px;
    height: 60px;
    padding: 30px;
    padding-bottom: 60px;
    background: #000000;
    
}
.headerInfo{
    width: 100%;
    height: 55px;
}

.col{
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center ;
    justify-content:space-between;
}

.row{
    display: flex;
    flex-direction:row;
    align-items:center;
    align-content:center ;
    justify-content:space-between;
}

.dark{
    color:#B0B4C0;
}
.gray{
    color:#606060;
}
.center{
    display: flex;
    align-items:center;
    align-content:center ;
    justify-content:center;
}

.start{
    display: flex;
    align-items:flex-start;
    align-content:flex-start ;
}

.calendarButton{
    background: #15172B;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    color:#B0B4C0;
    font-size: 35px;
    display: flex;
    flex-direction:row;
    align-items:center;
    align-content:center ;
    justify-content:center;
    margin-right: 20px;
}
.small{
    font-size: 12px;
}
.normal{
    font-size: 24px;
    font-weight: bold;
}
.big{
    font-size: 40px;
}
.underIco{
    font-size: 30px;
}


.logo{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-size:cover;
    background-image: url("https://cdn.discordapp.com/attachments/736633764930912257/972189609750573076/Screenshot_1.png");
}

.lastBook{
    padding: 10px;
    padding-top: 40px;
    width: 330px;
    height: 140px;
    border-radius: 10px;
    background-size:cover;
    background-image: url("https://cdn.discordapp.com/attachments/736633764930912257/972201953507561542/Screenshot_2.png");
    margin-top: 20px;
}
.nextLeson{
    padding: 10px;
    padding-top: 30px;
    width: 330px;
    height: 120px;
    border-radius: 10px;
    background-size:cover;
    background-image: url("https://cdn.discordapp.com/attachments/736633764930912257/972223721626554468/Screenshot_3.png");
    margin-top: 10px;
}
.headLine{
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0px 4px 9px rgba(0, 0, 0, 0.22);
    margin-bottom: 7px;
}

.properties{
    background-color: #fff;
    color: #05060D;
    padding: 4px;
    border-radius: 5px;
    margin-right: 10px;
}

.bold{
    font-weight: bold;
}

.interesting{
    margin-top: 20px;
    margin-bottom: 10px;
}
.interestingText{
    margin-bottom: 10px
}
.interestingBox{
    width: 330px;
    height: 200px;
}

.interestingBox1{
    background: linear-gradient(100.85deg, #1DDF53 -7.6%, #4FDF1D -7.59%, #47DFDF 118.16%);
    border-radius: 10px;
    width: 130px;
    height: 200px;
}
.interestingBox2{
    background: linear-gradient(115.9deg, #03C8E8 -4.5%, #04C7E7 110.6%);
    border-radius: 10px;
    width: 180px;
    height: 90px;
    margin-bottom: 20px;
}
.interestingBox3{
    background: linear-gradient(115.9deg, #4231C6 -4.5%, #3C2CB2 110.6%);
    border-radius: 10px;
    width: 180px;
    height: 90px;
}
.interestingBox3 i{
    padding-right: 10px;
}
.interestingBox2 i{
    padding-right: 10px;
}

.book{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.booksWrapper{
    display: flex;
    width: 100%;
    height: 100%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.booksItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    
    height: 180px;
    width: 140px;
    border-radius: 10px;
}
.booksItem p{
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gradient1{
    background: linear-gradient(100.85deg, #1DDF53 -7.6%, #47DFDF 118.16%);
}
.gradient2{
    background: linear-gradient(100.85deg, #1d5adf -7.6%, #47DFDF 118.16%);
}
.gradient3{
    background: linear-gradient(100.85deg, #df951d -7.6%, #dfd247 118.16%);
}
.gradient4{
    background: linear-gradient(100.85deg, #d51ddf -7.6%, #47d0df 118.16%);
}
.gradient5{
    background: linear-gradient(100.85deg, #1da2df -7.6%, #5947df 118.16%);
}
.gradient6{
    background: linear-gradient(100.85deg, #df1d1d -7.6%, #df47c3 118.16%);
}
.gradient7{
    background: linear-gradient(100.85deg, #6bdf1d -7.6%, #dadf47 118.16%);
}
.gradient8{
    background: linear-gradient(100.85deg, #1d5adf -7.6%, #47d0df 118.16%);
}
.gradient9{
    background: linear-gradient(100.85deg, #d51ddf -7.6%, #df477c 118.16%);
}
.gradient10{
    background: linear-gradient(100.85deg, #df1d1d -7.6%, #dfd847 118.16%);
}

.bookPage{
    width: 390px;
    height: 400px;
    padding-bottom: 600px;
}

.timetablePage{
    padding: 0px;
    padding-top: 850px;
}
.timetable{
    margin-top: 30px;
    margin-bottom: 20px;
}
.timetableItem{
    display: flex;
    flex-direction:row;
    align-items:center;
    align-content:center ;
    justify-content:space-between;

    padding: 5px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: #000;
}
.timetableInput{
    background-color: #000;
    color: #fff;
}
.timetableTitle{
    padding: 7px;
    padding-left: 11px;
    color: #fff;
}

.notebooksItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    
    height: 180px;
    width: 140px;
    border-radius: 10px;
}
.notebooksItem p{
    text-transform: capitalize;
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
}

.createNotebook{
    background-color: #15172B;
}

.notebook{
    height: 100%;
}
.notebookInputTitle{
    background-color: #000;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    width: 80%;
}

.arrow{
    background-color: #000;
    color: #fff;
    margin-bottom: 20px;
    font-size: 30px;
}

.notebookInputText{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    width: 90%;
    height: 80%;
}

.createNotebookInputTitle{
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 30px;
    width: 65%;
    border: #747474 solid 1px;
    border-radius: 10px;
}

.createNotebookInputButton{
    margin-top: 20px;
    font-size: 30px;
    padding: 7px;
    border-radius: 10px;
}

.testsItem{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px;
    
    height: 100px;
    width: 140px;
    border-radius: 10px;
}

.taskPage{
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-bottom: 100px;
}

.taskWrapper{
    display: flex;
    width: 100%;
    height: 20%;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.finishButton{
    margin-top: 30px;
    padding: 7px;
    width: 40%;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 15px;
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background: #212121;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 8px;
    border: 1px solid #313131;
}

::-webkit-scrollbar-thumb:hover {
    background: #515151;
}